body {
	font-family: 'Oswald', sans-serif;
	color: #fff;
	background-color: forestgreen;
}
h1, h2 {
	font-family: 'Staatliches', sans-serif;
}
a {
	color: red;
	text-decoration: none;
	font-style: italic;
}
#button {
	font-size: 10pt;
	font-style: bold;
}
center {
	text-align: center;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	padding: 15px 5px;
}
