<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.sc72games.fleethevillage"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Flee The Village</name>

  <description>
      A fun 2D game set in China during the Revolution.
  </description>

  <author href="https://play.google.com/store/apps/dev?id=8478351963526734028" email="snipercat72@yahoo.com">
      snipercat72 games
  </author>
    
  <platform name="android"/>

</widget>
